body {
  background-color: #111;
  color: #00bcd4;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

.section {
  margin: 15px 0;
}

.main-btn {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  width: 90%;
  max-width: 400px;
  transition: 0.2s;
}

.main-btn:hover {
  background-color: #0097a7;
}