body {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-btn {
  background-color: #e63946;
  color: white;
  font-size: 20px;
  padding: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.section-btn:hover {
  background-color: #b71c1c;
  transform: scale(1.03);
}
.subsections {
  display: none;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.sub-btn {
  background-color: #ffffff;
  color: #e63946;
  border: 2px solid #e63946;
  padding: 16px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.sub-btn:hover {
  background-color: #ffe6e6;
  color: #b22222;
}