body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

/* Основные кнопки */
.main-btn {
  background-color: #e63946;
  color: #ffffff;
  font-size: 20px;
  width: 90%;
  padding: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* Подразделы */
.subsections {
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-top: 20px;
}

.sub-btn {
  background-color: #f1faee;
  color: #e63946;
  font-size: 18px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: #e63946;
  color: #ffffff;
}

#thankYou {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  background-color: #f1faee;
  padding: 20px;
  border-radius: 10px;
}

.text-block {
  white-space: pre-line;
  font-size: 18px;
  line-height: 1.5;
}
