body {
  background-color: #111;
  color: #00bcd4;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 20px 0;
  font-size: 28px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.main-btn {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 25px;
  font-size: 20px;
  border-radius: 16px;
  cursor: pointer;
  width: 90%;
  max-width: 500px;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0, 188, 212, 0.3);
}

.main-btn:hover {
  background-color: #0097a7;
  box-shadow: 0 6px 14px rgba(0, 188, 212, 0.4);
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .main-btn {